<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>

<!--     Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%L %X{timestampAsString}:%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %X{timestampAsString} %X{timestamp} %X{newsTypeId} %X{newsTypeUrl}- %m%n" />
    </Console>

<!--     File Appender -->
    <RollingFile name="RollingFile" fileName="logs/app.log"
                 filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">
      <PatternLayout
        pattern="%L %X{timestampAsString}:%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %X{timestampAsString} %X{timestamp} %X{newsTypeId} %X{newsTypeUrl} - %m%n" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="logs" maxDepth="2">
          <IfFileName glob="app-*.log.gz" />
          <IfLastModified age="7d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Root>
  </Loggers>
</Configuration>