<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>

		<typeAlias type="com.easyway.covid19.model.User" alias="User"></typeAlias>
		<typeAlias type="com.easyway.covid19.model.UserSession" alias="UserSession"></typeAlias>
		<typeAlias type="com.easyway.covid19.model.Records" alias="Records"></typeAlias>

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/covid19"/>

				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="RecordsMapper.xml" />
		<mapper resource="UserMapper.xml" />
		<mapper resource="UserSession.xml" />

	</mappers>
</configuration>
