<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyway.covid19.dao.UserDao">

    <insert id="addUserInfo" parameterType="User"
            keyProperty="id">
        INSERT into user(firstname,lastname,email,username,password)
        values(#{firstName}, #{lastName}, #{email}, #{userName}, #{password})
    </insert>

    <select id="getUserByUserNameAndPassword" parameterType="String" resultMap="userResult">
        SELECT * FROM user where username=#{userName} and password=#{password}
    </select>

    <select id="getUserByUserName" parameterType="String" resultMap="userResult">
        SELECT * FROM user where username=#{userName}
    </select>

    <select id="getUserByUserId" parameterType="int" resultMap="userResult">
        SELECT * FROM user where id=#{id}
    </select>


    <resultMap id="userResult" type="User">
        <id property="id" column="id"/>
        <result property="firstName" column="firstname"/>
        <result property="lastName" column="lastname"/>
        <result property="email" column="email"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>

    </resultMap>

</mapper>